* {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

.btn-primary.focus,
.btn-primary:focus {
  box-shadow: unset !important;
}

.btn.focus,
.btn:focus {
  outline: unset !important;
  box-shadow: unset !important;
}

a:hover {
  text-decoration: none !important;
}

a {
  color: unset !important;
  text-decoration: none !important;
  background-color: transparent !important;
}
.kits-arredondados h1 {
  color: #ffffff;
  font-size: 32px;
  text-transform: uppercase;
  padding: 1rem 0;
  margin-bottom: 0;
  line-height: 100%;
}

.kit-1 {
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  border: 1px solid #040c26;
  background-color: #040c26;
}

.bg-red {
  background-color: #ff0000;
}

.oferta-expira {
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0;
}

.horario {
  color: #ffffff;
  font-weight: bold;
  font-size: 32px;
  line-height: 32px;
  margin-left: 22px;
  margin-bottom: 0;
}

.kits-arredondados h5 {
  font-weight: bold;
  text-transform: uppercase;
  line-height: 100%;
  margin: 0;
  margin-top: 0.2rem;
}

.kits-arredondados .valor-antigo,
.kits-arredondados .parcelamento {
  font-size: 16px;
  color: #040c26;
  text-transform: uppercase;
  margin: 0;
  line-height: 100%;
}

.kits-arredondados .valor-novo {
  color: #34c322;
  font-size: 48px;
  font-weight: bold;
  margin-top: 0;
  line-height: 100%;
  margin-bottom: 0.6rem;
}

.botao {
  color: #ffffff;
  background-color: #34c322;
  font-weight: bold;
  font-size: 28px;
  text-transform: uppercase;
  padding: 10px 20px;
  line-height: 100%;
}

/* KITS MOBILE */

.bg-mobile {
  background: #f5f5f5 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 5px #0000004d;
  opacity: 1;
}

.kits-mobile h1 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 0.5rem;
}

.kits-mobile .desconto {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 0.7rem;
  line-height: 100%;
}

.kits-mobile p {
  font-size: 10px;
}

.kits-mobile .valor-antigo {
  font-size: 14px;
  margin: 0;
  line-height: 100%;
  /* margin-bottom: 1rem; */
}

.kits-mobile .valor-novo {
  font-weight: bold;
  color: #34c322;
  font-size: 26px;
  margin: 0;
  line-height: 100%;
  margin-bottom: 0.7rem;
}

.kits-mobile .parcelamento {
  font-size: 15px;
  color: #040c26;
  text-transform: uppercase;
  margin: 0;
  line-height: 100%;
}

.kits-mobile .botao {
  font-size: 20px;
}

.kits-mobile .oferta-expira {
  color: red;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0;
  margin-left: -10px;
}

.kits-mobile .horario {
  color: red;
  font-weight: bold;
  font-size: 32px;
  line-height: 32px;
  margin-left: -10px;
  margin-bottom: 0;
}

/* KITS VARIGOLD */
/***** KITS *******/

.kits {
  /* background-image: url(https://goldclubgroup-images.s3.us-east-1.amazonaws.com/websites/claregold/img/assets/img/fundo_desktop_03-05-08-11.webp); */
  background-color: #ffffff;
  background-position: center center;
  background-size: cover;
  padding: 3rem 0 7rem;
  color: #000000;
}

.kits h2 {
  font-size: clamp(20px, 3vw, 36px);
  line-height: clamp(20px, 3vw, 36px);
  font-weight: bold;
  text-transform: uppercase;
}

.kits h2 span {
  color: #7c3677;
}

.kits h4 {
  margin: 0 auto;
  font-size: 20px;
  text-transform: uppercase;
  margin: 0;
  font-weight: bold;
}

.bg-roxo {
  background-color: #7c3677;
}

.bg-escuro {
  background-color: #343434;
}

.bg-cinza {
  background-color: #e8e8e8;
}

.percentual-desconto {
  font-size: clamp(16px, 3vw, 20px);
  line-height: 100%;
  color: #ffffff;
  font-weight: bolder;
  margin-bottom: 3px;
}

.off {
  line-height: 100%;
  color: #ffffff;
  margin: 0;
}

.trofeu {
  line-height: 100%;
  font-size: 34px;
  color: #ffffff;
}

.o-mais {
  margin: 0;
  line-height: 100%;
  font-size: 20px;
  color: #ffffff;
  display: inline;
}

.vendido {
  margin: 0;
  line-height: 100%;
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
  display: inline;
}

.card {
  border: none;
}

.card-cor-fundo-kits {
  padding: 0;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  border: unset;
}

.descontos-cards {
  color: #000000;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  padding: 10px 0 10px;
  margin-top: -40px;
  background-color: #f2ce1b;
}

.titulo-kits {
  color: #0c0507;
  font-size: clamp(18px, 3vw, 18px);
  line-height: clamp(18px, 3vw, 18px);
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 20px;
}

.titulo-kits span {
  color: #7c3677;
}

.informacoes {
  line-height: 18px;
  margin-bottom: 10px;
}

.de-por {
  font-size: 14px;
  line-height: 14px;
  text-decoration: line-through;
  color: red;
  text-transform: uppercase;
}

.por {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.por span {
  font-weight: bold;
}

.por-apenas {
  font-size: 14px;
  line-height: clamp(31px, 4vw, 34px);
  text-transform: uppercase;
}

.por-apenas span {
  font-weight: bold;
}

.valor {
  color: #7b3876;
  font-family: "Roboto", Sans-serif;
  font-size: clamp(32px, 4vw, 42px);
  line-height: clamp(20px, 4vw, 32px);
  font-weight: bolder;
}

.blinking {
  animation: opacity 1.5s ease-in-out infinite;
  opacity: 1;
}

.seta-esquerda {
  transform: rotate(336deg);
}

.seta-direita {
  transform: rotate(23deg);
}

.contem {
  font-weight: bold;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }
  /* 50% {
        opacity: 0.5;
      } */
  100% {
    opacity: 0;
  }
}

.cronometro {
  padding: 1rem 0 0.55rem;
  color: #ffffff;
  background-color: #ff0000;
}

.oferta-expira {
  text-transform: uppercase;
  line-height: 100%;
  font-weight: bold;
  margin: 0;
}

.horario {
  font-weight: bold;
  font-size: 42px;
  line-height: 100%;
  margin: 0;
}
